################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/PX.Approval
/.gitignore
/PX.Approval/.vs/PX.Approval/FileContentIndex
/.gitignore
/.gitignore
