PX.Approval/.vs/
PX.Approval/src/PX.Approval.API/obj/
PX.Approval/src/PX.Approval.Application/obj/
PX.Approval/src/PX.Approval.Crosscutting/obj/
PX.Approval/src/PX.Approval.Domain/obj/
PX.Approval/src/PX.Approval.Infrastructure/obj
PX.Approval/src/PX.Approval.UnityTests/obj/
PX.Approval/src/PX.Approval.TestHelpers/obj/
PX.Approval/src/PX.Approval.UnityTests/obj/
PX.Approval/PX.Approval/.vs
PX.Approval/src/PX.Approval.API/bin/
PX.Approval/src/PX.Approval.Application/bin/
PX.Approval/src/PX.Approval.Crosscutting/bin
PX.Approval/src/PX.Approval.Domain/bin/
PX.Approval/src/PX.Approval.Infrastructure/bin/
PX.Approval/src/PX.Approval.TestHelpers/bin/
src/PX.Approval.Infrastructure/CodeGen/
