PX.Approval/.vs/
PX.Approval/src/PX.Approval.API/obj/
PX.Approval/src/PX.Approval.Application/obj/
PX.Approval/src/PX.Approval.Crosscutting/obj/
PX.Approval/src/PX.Approval.Domain/obj/
PX.Approval/src/PX.Approval.Infrastructure/obj
PX.Approval/src/PX.Approval.UnityTests/obj/
PX.Approval/src/PX.Approval.TestHelpers/obj/
PX.Approval/src/PX.Approval.UnityTests/obj/
PX.Approval/PX.Approval/.vs
PX.Approval/src/PX.Approval.API/bin/
PX.Approval/src/PX.Approval.Application/bin/
PX.Approval/src/PX.Approval.Crosscutting/bin
PX.Approval/src/PX.Approval.Domain/bin/
PX.Approval/src/PX.Approval.Infrastructure/bin/
PX.Approval/src/PX.Approval.TestHelpers/bin/
src/PX.Approval.Infrastructure/CodeGen/
/src/PX.Approval.API/bin/Debug/net7.0
/src/PX.Approval.API/obj
/src/PX.Approval.Application/bin/Debug/net7.0
/src/PX.Approval.Application/obj/Debug/net7.0
/src/PX.Approval.Application/obj/PX.Approval.Application.csproj.nuget.g.targets
/src/PX.Approval.Application/obj/PX.Approval.Application.csproj.nuget.g.props
*.json
*.cache
/src/PX.Approval.Crosscutting/bin/Debug/net7.0
/src/PX.Approval.Crosscutting/obj/Debug/net7.0
*.props
*.targets
/src/PX.Approval.Domain/bin/Debug/net7.0
/src/PX.Approval.Domain/obj/Debug/net7.0
/src/PX.Approval.Infrastructure/bin/Debug/net7.0
/src/PX.Approval.Infrastructure/obj/Debug/net7.0/ref
/src/PX.Approval.Infrastructure/obj/Debug/net7.0/refint/PX.Approval.Infrastructure.dll
/src/PX.Approval.Infrastructure/obj/Debug/net7.0/refint
/src/PX.Approval.Infrastructure/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/src/PX.Approval.Infrastructure/obj/Debug/net7.0
/src/PX.Approval.TestHelpers/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/src/PX.Approval.TestHelpers/obj/Debug/net7.0
/src/PX.Approval.UnityTests/obj/Debug/net7.0
